doctype html
html
    head
        block header
            link(rel="stylesheet",href="css/style.css")
            script(src="js/jquery/jquery.js")
            script(src="js/jquery/bootstrap.js")
    body
        block main
            h2 hello world
